body{
	
font-family: "Times New Roman", "Serif", Serif;
	
color: #000000;
	background-color: #FFFF00;
	
text-shadow: 1px 1px #FF0000;
	text-align: center;

}



h1 {
	
font-size: 1.3em;
	
text-align: center;
	
text-shadow: 1px 1px #FF0000;

}


td, th {
    
border: 1px solid #dddddd;
    
text-align: left;
    
padding: 8px;

}



tr:nth-child(even) {
    
background-color: #ee440b;

}